<?xml version="1.0"?>
<robot name="robotiq_epick_model" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find vnbots_gazebo)/urdf/inc/robotiq_epick.gazebo.xacro"/>

  <xacro:property name="joint_lower_limit" value="0.0" />
  <xacro:property name="joint_upper_limit" value="0.055" />

  <link name="epick">
    <inertial>
      <mass value="0.745" />
      <origin xyz="0 0.0 0.055" rpy="0 0 0" />
      <inertia ixx="0.003084" ixy="0.0" ixz="0.0" iyy="0.002999" iyz="0.0" izz="0.000546" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.095" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://vnbots_gazebo/meshes/robotiq_epick/visual/robotiq_epick.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <visual>
      <origin xyz="0 0 ${0.015+0.095}" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.03"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <!-- -0.095 + 0.102/2 = -0.044-->
      <origin xyz="0 0 ${-0.044+0.095+0.014}" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.044" length="0.13"/>
      </geometry>
    </collision>
<!--       <collision>
      <origin xyz="0 0 ${0.008+0.095}" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.006" length="0.016"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </collision>  -->
  </link>

  <joint name="epick_end_effector_joint" type="revolute">
      <axis xyz="1 0 0" />
    <parent link="epick"/>
    <child link="epick_end_effector"/>
    <origin xyz="0 0 ${0.13}" rpy="0 0 0"/>
    <limit effort="50" velocity="50" lower="0" upper="0" />
    <dynamics damping="0.0" friction="10"/>
  </joint>

  <link name="epick_end_effector">
    <gravity>0</gravity>
    <visual>
      <origin rpy="0 0 0.005" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.0225" length="0.01"/>
      </geometry>
      <!-- <material name="transparent">
        <color rgba="0 0 0 0"/>
      </material> -->
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.0001"/>
      <inertia ixx="1e-08" ixy="0" ixz="0" iyy="1e-08" iyz="0" izz="1e-08"/>
    </inertial>
  </link>

  <xacro:epick_hand_gazebo robot_name="ur5e_epick" />
</robot>
