<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="epick_hand_gazebo" params="robot_name">
    <!-- http://docs.ros.org/melodic/api/gazebo_plugins/html/group__GazeboRosVacuumGripper.html -->
    <gazebo>
      <plugin name="gazebo_ros_vacuum_gripper" filename="libgazebo_ros_vacuum_gripper.so">
        <robotNamespace>${robot_name}/epick</robotNamespace>
        <bodyName>epick_end_effector</bodyName>
        <topicName>grasping</topicName>
        <maxForce>150</maxForce>
        <maxDistance>0.02</maxDistance>
        <minDistance>0.01</minDistance>
      </plugin>
    </gazebo>
  </xacro:macro>
</robot>

